<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Cadastro de Motorista</title>
</head>

<body>

	<h1>Olá Thymeleaf configurado!</h1>
	
	<form method="POST">
		<label>id</label>
		<input type="text" id="id" name="id">
		
		<input type="submit" value="salvar">
	</form>
	
</body>


</html>